* {
  margin: 0;
  padding: 0x;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

body {
  background-color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
body header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
body header h1.logo {
  color: gold;
  font-weight: 600;
  font-size: 1.4rem;
}
body header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
body header li {
  text-decoration: none;
  font-weight: 600;
  padding: 6px;
  font-size: 0.9rem;
  opacity: 0.8;
}
body header li a {
  color: white;
  text-decoration: none;
}
body header li:first-child a:hover {
  color: gold;
}
body header li:hover {
  opacity: 1;
}
body header li:last-child {
  background-color: gold;
  border-radius: 5px;
}
body header li:last-child a {
  color: #1f1f1f;
}
body header li:last-child:hover {
  opacity: 1;
}
body main {
  padding: 20px;
  gap: 4rem;
  flex-direction: column;
}
body main div.welcome {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
body main div.welcome section.left {
  color: white;
  width: 50%;
}
body main div.welcome section.left h1 {
  font-size: 4rem;
}
body main div.welcome section.left h1 span {
  background-color: gold;
  color: #1f1f1f;
}
body main div.welcome section.left p {
  font-size: 1.2rem;
  margin-top: 20px;
}
body main div.welcome section.left .buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 60px;
}
body main div.welcome section.left .buttons button {
  padding: 16px 30px;
  border: none;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: white;
  border: 1px solid white;
  font-weight: 600;
}
body main div.welcome section.left .buttons button:nth-child(2) {
  background-color: gold;
  color: #1f1f1f;
  border: none;
}
body main div.welcome section.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main div.welcome section.right div.container-coins {
  width: 400px;
  height: 600px;
  background-color: #3f3f3f;
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
body main div.welcome section.right div.container-coins div.bitcoin, body main div.welcome section.right div.container-coins div.ethereum, body main div.welcome section.right div.container-coins div.xrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 5px;
}
body main div.welcome section.right div.container-coins div.bitcoin p#xrpChange24, body main div.welcome section.right div.container-coins div.bitcoin p#btcChange24, body main div.welcome section.right div.container-coins div.bitcoin p#etcChange24, body main div.welcome section.right div.container-coins div.ethereum p#xrpChange24, body main div.welcome section.right div.container-coins div.ethereum p#btcChange24, body main div.welcome section.right div.container-coins div.ethereum p#etcChange24, body main div.welcome section.right div.container-coins div.xrp p#xrpChange24, body main div.welcome section.right div.container-coins div.xrp p#btcChange24, body main div.welcome section.right div.container-coins div.xrp p#etcChange24 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
body main div.welcome section.right div.container-coins div.bitcoin div.display-info, body main div.welcome section.right div.container-coins div.ethereum div.display-info, body main div.welcome section.right div.container-coins div.xrp div.display-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
body main div.welcome section.right div.container-coins div.bitcoin div.display-info i, body main div.welcome section.right div.container-coins div.ethereum div.display-info i, body main div.welcome section.right div.container-coins div.xrp div.display-info i {
  color: orange;
  font-size: 1.4rem;
}
body main div.welcome section.right div.container-coins div.bitcoin div.display-info p, body main div.welcome section.right div.container-coins div.ethereum div.display-info p, body main div.welcome section.right div.container-coins div.xrp div.display-info p {
  color: rgb(163, 162, 162);
}
body main div.welcome section.right div.container-coins div.bitcoin div.display-info span, body main div.welcome section.right div.container-coins div.ethereum div.display-info span, body main div.welcome section.right div.container-coins div.xrp div.display-info span {
  font-weight: bold;
  color: white;
}
body main div.welcome section.right div.container-coins div.bitcoin div.display-coin p, body main div.welcome section.right div.container-coins div.ethereum div.display-coin p, body main div.welcome section.right div.container-coins div.xrp div.display-coin p {
  font-size: 3.2rem;
  font-family: "impact";
}
body section.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
body section.faq h1 {
  color: white;
  font-size: 2rem;
  padding-bottom: 20px;
}
body section.faq p.gold-bot {
  border-bottom: 6px solid gold;
}
body section.faq div.container-market-coins {
  background-color: #222;
  width: 100%;
  max-width: 800px;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 20px;
  overflow-y: auto;
  height: calc(100% - 100px);
  box-sizing: border-box;
}
body section.faq div.container-market-coins div.market-coin-item,
body section.faq div.container-market-coins div.title-market-coin-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
body section.faq div.container-market-coins div.market-coin-item:hover,
body section.faq div.container-market-coins div.title-market-coin-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #111;
}
body section.faq div.container-market-coins div.market-coin-item p,
body section.faq div.container-market-coins div.title-market-coin-item p {
  margin: 0;
}
body section.faq div.container-market-coins div.coin-logo-name,
body section.faq div.container-market-coins div.title-coin-logo-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: gray;
}
body section.faq div.container-market-coins div.coin-logo-name span,
body section.faq div.container-market-coins div.title-coin-logo-name span {
  color: white;
  font-weight: 600;
}
body section.faq div.container-market-coins div.title-market-coin-item {
  padding: 20px;
  color: gray;
}/*# sourceMappingURL=main.css.map */